html, body {
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1em;
  background-color: #000000;
  color: #eeeeee;
}
div.container {
  padding: 15px;
  display: flex;
}
div.saudacao {
  padding: 0 20px 0 20px;
}
img.main {
  width: auto;
  height: 480px;
}
h1.titulo {
  margin: 0;
}
span.motivar {
  font-family: 'Montserrat', sans-serif;
  color: #00aad8;
  padding: 30px 0 0 0;
  font-size: 1.25em;
  font-weight: bold;
}
svg.icon {
  width: 48px;
  height: auto;
}
